* {
    margin: 0;
    padding: 0;
    color: #1C1C1C;
    font-family: 'Roboto Condensed', sans-serif;
}

/*******************
********TOP*********
********************/
div#container-all {
    max-width: 1600px;
}

div#hght-1100 {
    max-width: 1100px;
    margin: 0 auto;
}

div.top {
    height: 90px;
}

div.top div.site {
    width: 50%;
    float: left;
    font-size: 24px;
    height: 90px;
    display: flex;
    align-items: center;
}

div.top div.telefon {
    text-align: right;
    width: 50%;
    float: left;
    position: relative;
}

div.top div.telefon div {
    transform: translateY(+50%);
}

div.top div.telefon .call {
    font-size: 24px;
}

div.top div.telefon .call span.one-num {
    color: #B7B7B7;
}

div.top div.telefon .call span.two-num {
    font-weight: normal;
}

div.top div.telefon .mess {
    font-size: 12px;
    color: #727272;
}

/*******************
********VENECC******
********************/
div.venecc {
    position: relative;
    background: url('../img/venecc.jpg') no-repeat;
    background-size: cover;
    height: 585px;
    margin: 0px -243px;
    width: 144%;
    box-shadow: 0 0 0 400px rgba(0, 0, 0, 0.73) inset;
}

div.fon-img {
    width: 60%;
    background: rgba(40, 162, 110, 0.8);
    background-image: repeating-linear-gradient(135deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1) 5px, transparent 0, transparent 7px);
    5px, transparent 0, transparent 7px);
    position: absolute;
    height: 100%;
}

div.venecc .lefts {
    transform: translateY(+50%);
}

div.venecc .lefts h4,
div.venecc .lefts p,
p.zapusk-p-one,
p.mart,
p.times-click,
div.times div div p {
    color: #fff;
}

div.statt-all {
    float: left;
}

div.top-two {
    padding: 0px 180px 0px 240px;
    z-index: 3;
}

div.statt {
    margin-left: 240px;
    width: 75%;
    z-index: 3;
}

hr {
    border: none;
    background-color: #42A47A;
    color: #42A47A;
    height: 1px;
    margin: 20px 0px 10px 240px;
}

div.statt p {
    font-size: 16px;
}

div.statt .statt-all p.p-all-statt {
    line-height: 20px;
}

div.statt p.numer {
    font-size: 64px;
}

div.venecc .lefts h4,
p.mart {
    font-size: 50px;
    font-weight: normal;
}

div.venecc .lefts onezapp {
    font-size: 20px;
}

div.venecc .lefts twozapp,
div.times div div p {
    font-size: 14px;
}

div.venecc .lefts,
div.raceta {
    float: left;
}

div.raceta {
    margin-right: 15px;
}

.statt {
    width: 100%;
}

div.statt .statt-all-1,
div.statt .statt-all-2,
div.statt .statt-all-3 {
    width: 30.333%
}

div.venecc .rights {
    float: right;
    width: 40%;
}

div.black-fff {
    /* filter: grayscale(100%); */
}

p.zapusk-p-one,
p.times-click {
    font-size: 18px;
}

div.block-info {
    padding-left: 60px;
    padding-top: 100px;
}

div.block-times-1,
div.block-times-2,
div.block-times-3 {
    float: left;
    margin-right: 10px;
}

div.times p.times-click {
    margin-bottom: 10px;
}

div.block-times-4 {
    display: inline-block;
}

div.block-times-1 p,
div.block-times-2 p,
div.block-times-3 p,
div.block-times-4 p {
    text-align: center;
}

button.times-clock-off {
    margin-top: 40px;
    width: 355px;
    height: 50px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    background: #fff;
}

/********************
*****% АКЦИЯ******
********************/
div.registration div.text-block {
    margin-left: 235px;
    margin-top: 50px;
}

div.registration div.text-block h5 {
    font-size: 36px;
    color: rgb(28, 28, 28);
}

div.registration p {
    font-size: 14px;
}

button.button-block-two {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(171, 175, 171);
}

div.text-block span {
    color: #FC8153;
}
